@media (min-width:800px) and (max-width: 970px) {
    .flexcontainer1{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 3rem;
        
    }
    .flex-container{
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
    }
    .flexitem1{
        padding: 0.5rem;
    }
    .dropdown{
        display: none;
    }
    .carousel {
        width:38rem;
        height:38rem;
      }
    
    img{
        text-align: center;
        width: 38rem;
        height: 38rem;
    }
    .topnav {
        display: flex;
        justify-content: space-evenly;
        background-color: #1B3C12;
        overflow: hidden;
        align-items: center; 
        
    }
    h1{
        font-size: 3rem;
    }
    .logo{
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
    }
}
@media (min-width:970px) {
    .flexcontainer1{
        display: flex;
        justify-content: space-evenly;
        flex-flow: row wrap;
        padding: 1rem;
    } 
    .flex-container{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
    }
    .flexitem1{
        padding: 1rem;
    }
    .dropdown{
        display: none;
    }
    .topnav {
        display: flex;
        justify-content: space-evenly;
        background-color: #1B3C12;
        overflow: hidden;
        align-items: center; 
        
    }
    .carousel {
        width:38rem;
        height:38rem;
      }
    
    img{
        text-align: center;
        width: 38rem;
        height: 38rem;
    }
    h1{
        font-size: 3rem;
    }
    .logo{
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
    }
}
@media (max-width:800px){
    .flexcontainer1{
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        padding: 1rem;
        
    }
    .flex-container{
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
    }
    .carousel{
        width: 25rem;
        height: 25rem;
        padding-bottom: 1rem;
    }
    img{
        text-align: center;
        width: 25rem;
        height: 25rem;
    }
    .cimg{
        padding-bottom: 1rem;
    }
    .topnav{
        display: none;
    }
    .dropdown{
        display: flex;
    } 
    .myBut{
        background-color: #1B3C12;
        color:white;
        height: 3rem;
        width:7rem;
        font-size: 1rem;
        padding-top: 0.3rem;
        
    }
    form{
        padding:0.3rem;
    }
    .dropdown-item{
        background-color: #1B3C12;
        color: white;
    }
    #myactive{
        background-color: #04AA6D;
    }
    .dropdown a:hover{
        background-color: #AADD9D;
        color:black;
    }
    h5{
        font-size: 0.8rem;
        text-align: center;
    }
    h1{
        font-size: 2rem;
    }
    .logo{
        width: 2rem;
        height: 2rem;
        border-radius:50%;
    }

}
/* styling search bar */
#search input[type=text]{
    width:300px;
    height:25px;
    border-radius:25px;
}

body{
    margin: 0;
}
  
  /* Style the links inside the navigation bar */
  .topnav a {
    display: flex;
    
    color: #f2f2f2;
    text-align: center;
    padding: 1rem 1rem;
    text-decoration: none;
    font-size: 17px;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #AADD9D;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #04AA6D;
    color: white;
  }
/* .flex-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
} */
header{
    background-color: #4E7544;
    
   position:sticky;
   top:0;
   z-index: 999;
}

h1{
    margin:0;
    color:white;
    font-family: 'Kaisei HarunoUmi', serif;
}
h5{
    margin:0 0 0.5rem 0;
    color:white;
    font-family: 'Kaisei HarunoUmi', serif;
}
form{
    text-align: center;
}
/* .carousel {
    width:38rem;
    height:38rem;
  }

img{
    text-align: center;
    width: 38rem;
    height: 38rem;
} */

 /* .flexcontainer1{
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    padding: 1rem;
}  */
.flexcontainer2{
    flex: 1 1 33%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 1rem;
}
.flexitem3{
    margin: 1rem 0rem;
}


footer{
    display: flex;
    background-color: #4E7544;
    justify-content: space-around;
    padding: 1rem;
    color: white;
    align-items: center;
}

a{
    color:white;
    text-decoration: underline;
}

#copyright{
    font-size: 0.5rem;
    margin:0;
}
